

html {
  overflow-y: scroll; 
}

.focus {
    color: white;
 
}

.focus:hover {
    color: #522258;
 
}

 
.contact-form{
    background: #ffffff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%; 
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -4%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -13%;
    text-align: center;
    color: #522258  ;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #522258;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;

}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #ffffff;
    background-color: #522258;
    border: none;
    cursor: pointer;
}

.btnContact{
     margin-left: 50%;
}

.btn-focus{
    background-color: #522258;
}
.btn-focus:hover{
    background-color: #D95F59;
}
